[Unit]
Description = Led display driver with fifo client
After = network.target

[Service]
ExecStart = /usr/bin/fifo-client
Restart = always
User = PLACEHOLDER_USER
Nice = -10

[Install]
WantedBy = multi-user.target

