[Unit]
Description = Led display driver with websocket client
After = network.target

[Service]
ExecStart = /usr/bin/raspberry-display
Restart = always
User = PLACEHOLDER_USER
Nice = -10

[Install]
WantedBy = multi-user.target
